@page
@model RazorTest.Pages.IndexPageModelModel
@{
    ViewData["Title"] = "Propuestas Legislativas";
}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario de propuesta legislativa</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Nueva propuesta legislativa</legend>
            <div>
                <label for="Nombre">Nombre:</label>
                <input type="text" name="Nombre" asp-for="Nombre" value="" />
                <span asp-validation-for="Nombre"></span>
            </div>
            <div>
                <label for="Apellidos">Apellidos:</label>
                <input type="text" name="Apellidos" asp-for="Apellidos" value="" />
                <span asp-validation-for="Apellidos"></span>
            </div>
            <div>
                <label for="TipoIdentificacion">Tipo de Identificacion</label>
                <select name="TipoIdentificacion" asp-for="TipoIdentificacion">
                    @for (int i = 0; i < Model.TiposIdentificacion.Length; i++)
                    {
                        <option value="@Model.TiposIdentificacion[i]">@Model.TiposIdentificacion[i]</option>
                    }
                </select>
                <span asp-validation-for="TipoIdentificacion"></span>
            </div>
            <div>
                <label for="Identificacion">Identificacion:</label>
                <input type="text" name="Identificacion" asp-for="Identificacion" value="" />
                <span asp-validation-for="Identificacion"></span>
            </div>
            <div>
                <label for="Telefono">Telefono:</label>
                <input type="text" name="Telefono" asp-for="Telefono" value="" />
                <span asp-validation-for="Telefono"></span>
            </div>
            <div>
                <label for="Correo">Correo electrónico:</label>
                <input type="email" name="Correo" asp-for="Correo" value="" />
                <span asp-validation-for="Correo"></span>
            </div>
            <div>
                <label for="Provincia">Provincia</label>
                <select name="Provincia" asp-for="Provincia">
                </select>
                <span asp-validation-for="Provincia"></span>
            </div>
            <div>
                <label for="Distrito">Distrito</label>
                <select name="Distrito" asp-for="Distrito">
                </select>
                <span asp-validation-for="Distrito"></span>
            </div>
            <div>
                <label for="Propuesta">Propuesta</label>
                <textarea name="Propuesta" asp-for="Propuesta"></textarea>
                <span asp-validation-for="Propuesta"></span>
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
            
        </fieldset>
    </form>
</body>
</html>