@page
@model PropuestasLegislativas.Pages.RegistroNuevaPropuestaModel
@{
    ViewData["Title"] = "Propuestas Legislativas";
}

<section id="formulario">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form id="formulario_registro" class="needs-validation">
                    <fieldset>
                        <legend class="my-4">Nueva propuesta legislativa</legend>
                        <div class="row mb-3">
                            <label class="form-label" for="Nombre">Nombre:</label>
                            <input class="form-control" type="text" name="Nombre" id="Nombre" asp-for="Nombre" value=""
                                required />
                            <div class="invalid-feedback" id="error_nombre">
                                El nombre es requerido
                            </div>
                            @* <span class="text-danger pt-2" asp-validation-for="Nombre"></span> *@
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="Apellidos">Apellidos:</label>
                            <input class="form-control" type="text" name="Apellidos" id="Apellidos" asp-for="Apellidos"
                                value="" required />
                            <div class="invalid-feedback" id="error_apellidos">
                                Los apellidos son requeridos
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="TipoIdentificacion">Tipo de Identificacion</label>
                            <select class="form-control" name="TipoIdentificacion" id="TipoIdentificacion"
                                asp-for="TipoIdentificacion" required>
                                @for (int i = 0; i < Model.TiposIdentificacion.Length; i++)
                                {
                                    <option value="@Model.TiposIdentificacion[i]">
                                        @Model.TiposIdentificacion[i]
                                    </option>
                                }
                            </select>
                            <div class="invalid-feedback" id="error_tipo_identificacion">
                                El tipo de identificacion es requerido
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="Identificacion">Identificacion:</label>
                            <input class="form-control" type="text" name="Identificacion" id="Identificacion"
                                asp-for="Identificacion" value="" data-inputmask="'mask': '9-9999-9999'" required />
                            <div class="invalid-feedback" id="error_identificacion">
                                Formato de identificación inválido
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="Telefono">Telefono:</label>
                            <input class="form-control" type="text" name="Telefono" id="Telefono" asp-for="Telefono"
                                value="" data-inputmask="'mask': '(+506) 9999-99-99'" required />
                            <div class="invalid-feedback" id="error_telefono">
                                Formato de teléfono inválido
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="Correo">Correo electrónico:</label>
                            <input class="form-control" type="email" name="Correo" id="Correo" asp-for="Correo" value=""
                                required />
                            <div class="invalid-feedback" id="error_correo">
                                El correo electrónico es requerido
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="Provincia">Provincia</label>
                            <select class="form-control" name="Provincia" id="Provincia" asp-for="Provincia" required>
                            </select>
                            <div class="invalid-feedback" id="error_provincia">
                                La provincia es requerida
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="Canton">Canton</label>
                            <select class="form-control" name="Canton" id="Canton" asp-for="Canton" required>
                            </select>
                            <div class="invalid-feedback" id="error_canton">
                                El cantón es requerido
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="form-label" for="Propuesta">Propuesta legislativa</label>
                            <textarea class="form-control" name="Propuesta" id="Propuesta" asp-for="Propuesta"
                                required></textarea>
                            <div class="invalid-feedback" id="error_propuesta">
                                La propuesta es requerida
                            </div>
                        </div>
                        <div class="invalid-feedback" id="error_formulario">
                            <div class="d-flex justify-content-center my-4">
                                Por favor revise el formlario y complete la información requerida antes de continuar
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <button class="btn btn-danger w-100" type="button" id="cancelar">
                                    Cancelar <i class="fa-solid fa-trash px-4"></i>
                                </button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary w-100" type="submit" id="enviar">
                                    Enviar <i class="fa-solid fa-paper-plane px-4"></i>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>